if [ $# -ne 0 ]; then
    cores=$1
    shift
else
    cores=8
fi

benchmarks="sobol/soboloption.mlb mandelbrot/mandelbrot.mlb primes/primes.mlb soac/scan.mlb soac/filter.mlb fib/fib.mlb vpmsort/vpmsort.mlb pmsort/pmsort.mlb ray/ray.mlb ray-orig/ray-orig.mlb nqueens/nqueens.mlb"

runs=10

if ! [ "$BENCH_ROOT" ]; then
    export BENCH_ROOT=$(pwd)
fi

# Everything from here on is more of a library than a configuration -
# don't modify it unless you're looking for trouble.

bench="$BENCH_ROOT/src/mlkit-bench -r $runs -it"
speedup="$BENCH_ROOT/src/speedup/mlkit-bench-speedup"
mem="$BENCH_ROOT/src/mem/mlkit-bench-mem"
abstime="$BENCH_ROOT/src/abstime/mlkit-bench-abstime"

gnuplot_prelude() {
    echo "set terminal pdf noenhanced;"
    echo "set output '$1.pdf';"
    echo "data='$2';"
}

benchmarks() {
    for b in $benchmarks; do
        echo $BENCH_ROOT/par-benchmarks/$b
    done
}

echo "Measuring speedup from 1 to $cores cores."
